.hamburger-icon {
  height: 60px;
  width: 60px;
  top: 10%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.icon-1.a {
  transform: rotate(40deg);
}

.icon-3.b {
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

.hamburger-react:nth-child(1) {
  color: #317159;
}
.hamburger-react:nth-child(2) {
  color: #317159;
}
.hamburger-react:nth-child(3) {
  color: #317159;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}

@media screen and (max-width: 560px) {
  .hamburger-icon {
    height: 100%;
    width: 23px;
  }
}
