/* navbar */
#top_navbar.navbar {
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  padding: 16px 3%;
  z-index: 10000;
}
#top_navbar.navbar.sticky {
  position: fixed;
  top: -60px;
  width: 100%;
  z-index: 10000;
  animation: goDown 0.5s ease-in-out forwards;
  -webkit-animation: goDown 0.5s ease-in-out forwards;
  background-color: var(--Background-Color);
}
@keyframes goDown {
  0% {
    top: -60px;
  }
  100% {
    transform: translateY(60px);
  }
}

#top_navbar.navbar.sticky + .content {
  padding-top: 60px;
}
.navbar .navbar-toggler .hamburger-icon div {
  background-color: #317159;
}
.navbar .navbar-toggler .hamburger-icon div.icon-1,
.navbar .navbar-toggler .hamburger-icon div.icon-3 {
  width: 30%;
  left: 30%;
}
.navbar .navbar-toggler .hamburger-icon div.icon-1.a,
.navbar .navbar-toggler .hamburger-icon div.icon-3.c {
  width: 30%;
  left: 30%;
}
#top_navbar .navbar-brand img {
  width: calc(100% - 1rem);
}
#top_navbar .search {
  position: relative;
  border: 1px solid #8f95b2;
  border-radius: 4px;
  padding: 0 16px;
  margin-right: 36px;
}
#top_navbar .navbar-nav li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--N900);
}
#top_navbar .navbar-nav button {
  padding-left: 16px !important;
  display: inline-block;
  width: -webkit-fill-available;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--N900);
}
#top_navbar .navbar-nav .dropdown-menu {
  width: max-content;
}
#top_navbar .navbar-nav .dropdown-menu ul {
  min-width: 239px;
  width: 100%;
}
#top_navbar .navbar-nav .dropdown-menu ul .nav-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--N900);
  text-align: start;
  padding-left: 16px !important;
}
#top_navbar .navbar-nav .dropdown-menu ul li a {
  text-align: start;
  padding-left: 16px !important;
}

#top_navbar .navbar-nav li a.dropdown-toggle::after {
  display: none;
}
#top_navbar .search .search-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#top_navbar .search .form-control {
  border: 0;
  padding-left: 8%;
  box-shadow: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--N700);
  min-width: 360px;
  width: 100%;
  background: transparent;
}

#top_navbar .search .form-control:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

#top_navbar .auth-btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
#top_navbar .btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}

/* navbar */

/* offcanvas */
.nav-offcanvas {
  width: 100% !important;
  background: #fff;
  z-index: 10000 !important;
}
.nav-offcanvas .offcanvas-header {
  justify-content: flex-start;
  gap: 18px;
}
.nav-offcanvas .offcanvas-header h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--N900);
}
.nav-offcanvas li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--N900);
}
.nav-offcanvas ul .nav-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--N900);
  text-align: start;
  padding-left: 16px !important;
}
.nav-offcanvas li a {
  text-align: start;
  padding-left: 16px !important;
}

/* offcanvas */

/* after login navbar */
#top_navbar .my-courses a,
#top_navbar .my-courses button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101840;
  border: 0;
}
#top_navbar .cart .btn {
  padding: 0;
}
#top_navbar .cart .btn span {
  background-color: #f9dada !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #7d2828;
}
#top_navbar .auth-btn ul {
  margin-bottom: 0;
  padding-left: 0;
}
#top_navbar .auth-btn .dropdown-toggle::after {
  display: none;
}
#top_navbar .auth-btn .dropdown-menu.show {
  display: block;
  left: auto;
  right: 0;
}
#top_navbar .auth-btn .dropdown-menu .dropdown-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #101840;
}

/* after login navbar */

/* cart dropdown */
.cart .dropdown-toggle::after {
  display: none;
}
.cart_dropdown .dropdown-menu {
  max-width: 392px;
  min-width: 392px;
  width: 100%;
}
.cart_dropdown .dropdown-menu .row {
  align-items: center;
}
.cart_dropdown .dropdown-menu img {
  max-width: 80.98px;
  max-height: 76px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  image-rendering: pixelated;
  background-color: #f9f9f9;
  border-radius: 2.33048px;
  overflow: hidden;
}
.cart_dropdown .dropdown-menu h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #0e2341;
  margin-bottom: 12px;
}
.cart_dropdown .dropdown-menu p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #696f8c;
}
.cart_dropdown .dropdown-menu span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #101840;
}
.cart_dropdown .total_amount p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #101840;
}

/* cart dropdown */

/* responsive */
@media (min-width: 1358px) and (max-width: 1440px) {
  #top_navbar .btn {
    font-size: 14px;
  }
}
@media (min-width: 1200px) and (max-width: 1357px) {
  #top_navbar .navbar-nav .dropdown-menu {
    width: max-content;
    left: -50%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  #top_navbar .search .form-control {
    min-width: 200px;
  }
  #top_navbar .btn {
    font-size: 15px;
  }
}
@media (min-width: 1120px) and (max-width: 1199px) {
  #top_navbar.navbar {
    padding: 16px 1%;
  }
  #top_navbar .navbar-nav .dropdown-menu {
    width: max-content;
    left: -50%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  #top_navbar .navbar-brand img {
    width: calc(100% - 2rem);
  }
  #top_navbar .search .form-control {
    min-width: 100%;
  }
  #top_navbar .btn {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1119px) {
  #top_navbar.navbar {
    padding: 16px 0%;
  }
  #top_navbar .navbar-nav .dropdown-menu {
    width: max-content;
    left: -50%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  #top_navbar .navbar-brand img {
    width: calc(80% - 0rem);
  }
  .navbar-expand-lg .navbar-collapse {
    gap: 9px;
  }
  #top_navbar .navbar-nav li a {
    font-size: 13px;
  }
  #top_navbar .search {
    margin-right: 0px;
  }
  #top_navbar .search .form-control {
    min-width: 100%;
  }
  #top_navbar .btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  #top_navbar .toggle_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  #top_navbar .toggle_search button {
    padding: 0;
  }
  .mob_navbar .toggle_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  .mob_navbar .toggle_search button {
    padding: 0;
  }
  .mob_navbar .userRole-mob,
  .mob_navbar .userRole-mob:hover {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #101840;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
  }
  .mob_navbar .offcanvas-title img {
    width: calc(100% - 1rem);
  }

  #top_navbar .navbar-nav li a {
    text-align: center;
  }
  /* #top_navbar .navbar-brand img {
    width: calc(60% - 0rem);
  } */
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item button {
    margin: 0 auto;
  }
  .auth-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .auth-btn ul {
    padding-left: 0;
  }
  .auth-btn a {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .search-bar-mob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 17px 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    z-index: 10002 !important;
  }
  .search-bar-mob.active {
    transform: translateY(0%);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  .search-bar-mob.deactive {
    transform: translateY(-100%);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  .search-bar-mob .search-form {
    padding: 6px 8px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .search-bar-mob input {
    border: 0px solid red;
    appearance: none;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--N900);
  }
  .search-bar-mob input:focus-visible {
    outline: none;
  }
  .search-bar-mob input::placeholder {
    color: #cccccc;
  }

  .mob_navbar {
    z-index: 10001 !important;
  }
  .mob_navbar .offcanvas-header {
    box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
    padding: 16px 3%;
  }

  #top_navbar .auth-btn {
    flex-direction: column;
    margin-top: 16px;
  }
  #top_navbar .auth-btn .btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 0;
  }
  .cart-canvas .offcanvas-body .row {
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .cart-canvas .offcanvas-body img {
    max-width: 73px;
    max-height: 76px;
    border-radius: 2.33048px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cart-canvas .offcanvas-body h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #0e2341;
  }
  .cart-canvas .offcanvas-body p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #696f8c;
    margin-bottom: 0;
  }
  .cart-canvas .offcanvas-body span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #101840;
  }
  .cart-canvas .offcanvas-body button {
    margin-top: 24px;
  }
  .notificationCanvas {
    z-index: 10001 !important;
  }
  .notificationCanvas .offcanvas-header {
    box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
    padding: 16px 3%;
  }
  .notificationCanvas .offcanvas-body .notification-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    letter-spacing: 0.001em;
  }
  .notificationCanvas .offcanvas-body .notification-list {
    height: calc(100% - 2rem);
    overflow-y: auto;
  }
  .notificationCanvas
    .offcanvas-body
    .notification-list
    .notification-list-item {
    background: transparent;
    padding: 12px 24px;
  }
  .notificationCanvas
    .offcanvas-body
    .notification-list
    .notification-list-item.unread {
    background: #e9f4fe;
    padding: 12px 24px;
  }
  .notificationCanvas
    .offcanvas-body
    .notification-list
    .notification-list-item
    h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #3b3b3b;
  }
  .notificationCanvas
    .offcanvas-body
    .notification-list
    .notification-list-item
    p {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 0;
  }
}
/* responsive */
